@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Inter:wght@400;800&display=swap');

*{
    margin: 0; 
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', 'sans-serif';
    background-image: url(img/montain.jpg);
    background-repeat: no-repeat;
    color: #202020;
    overflow-x: hidden;
}

.content-principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 20px 40px; 
    padding: 30px;
}

.card-container1 {
    padding: 30px;
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
}

.card-title {
    font-size: 40px;
}

.card-description {
    font-size: 16px;
}

/* Acima card container título da página */ 

.card-link-geral,
.card-link-artigo,
.card-link-condominos {
    width: 300px;
    margin: 25px 30px;
    padding: 10px;
    text-align: center;
    background-color: #afafaf6e;
    border-left: 4px solid #000;
}


.card-link-geral:hover, .card-link-artigo:hover, .card-link-condominos:hover{
    background-color: #7e7d7d79;
}

a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

a:hover {
    color: #000;
}

@media screen and (max-widht: 600px){
    .content-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 20px 40px; 
        padding: 30px;
    }
}
